.scrim {
  position: absolute;
  display: none;
  z-index: 8;

  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.32);
}

.modal_body {
  position: fixed;
  top: 50%;
  z-index: 10;

  width: auto;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateY(-50%);
}

.modal_body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn_open_modal {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1;

  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 50px;

  background-color: #ffffff;
  color: #9bace4;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_open_modal:hover {
  background-color: #ead467;
  color: #ffffff;
  border: none;
}

.btn_close_modal {
  width: 48px;
  height: 48px;
  position: absolute;

  right: 24px;
  top: 24px;
  background-image: url("../img/delete.png");
  background-position: center;
}
